body {
    background-image: url(../images/IMG_7550.jpeg);
    background-size: cover;

}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 0px 10px red;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.6;
    background-color: black;
    padding: 25px;
    margin: 0;
}

nav a {
    text-decoration: none;
    margin: 15px;
    padding: 15px;
    gap: 2rem;
    position: relative;
    display: flex;
    margin-top: 15px;
}

nav li {
    list-style-type: none;
    color: white;
    margin: 1rem;
}

main {
    border: 1px solid white;
    background-color: black;
    opacity: 0.6;
}